@import '_variables';
@import './primeng/_index';

* { // sass-lint:disable-line no-universal-selectors
  box-sizing: border-box;

  &:focus {
    outline: none;
  }
}

body {
  margin: 0;

  p {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.light-theme {
  background-color: map-get($colors , ay-light-background);
}

.dark-theme {
  background-color: map-get($colors , ay-dark-background);
}
