:root {
  // brand colors
  --ay-brand: #57B7ED !important;
  --ay-brand-light: #57B7ED !important;
  --ay-tip: #57B7ED !important;
  --ay-bg-color: #012A35;
  --ay-text-color: white;

  scroll-behavior: smooth;
}
