@import '_variables';

// partials
@import "./partials/_layout";
@import "./partials/_typography";
@import "./partials/helpers";

// theme
@import "./partials/theme";


* { // sass-lint:disable-line no-universal-selectors
  box-sizing: border-box;

  &:focus {
    outline: none;
  }
}

a, a:visited, a:hover {
  text-decoration: none;
}
