@import '_variables';

// partials
@import "./partials/_layout";
@import "./partials/_typography";
@import "./partials/helpers";

* {
  // sass-lint:disable-line no-universal-selectors
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &:focus {
    outline: none;
  }
}
