
html.light {
  --ay-bg-color: white;
  --ay-text-color: #003543;
}

body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  background-color: var(--ay-bg-color);
  color: var(--a-text-color);
}
