
$light-text-color: #fff;


.light-theme {
  background-color: map-get($colors , ay-light-background);
  color: #111;
}

.dark-theme {
  background-image: linear-gradient(180deg, #2E323F 0%, #0A061A 100%);
  color: $light-text-color;

  a, a:hover, a:link, a:visited, a:focus {
    color: $light-text-color;
  }
}



