html {
  font-size: 14px;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
}

a, a:hover, a:link, a:visited, a:focus {
  text-decoration: none;
  color: map-get($colors , ay-text-color);
}

ul, ol, ul li, ol li, ul ul {
  list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {

}

h1, h2, h3 {
  font-weight: 400;
}

h6 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1rem;
  line-height: calc(1rem * 1.5);
}
